In [1]:
# load library
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
# load players and teams csv
playerDF <- read.csv(file = "players.csv")
teamDF <- read.csv(file = "teams.csv")

In [3]:
# Which are the top 10 players by overall rating?
playerDF %>% arrange(desc(overall_rating)) %>% 
            slice(1:10) %>% 
            select(player_api_id,player_name,overall_rating)

   player_api_id player_name        overall_rating
1  30981         Lionel Messi       94
2  30893         Cristiano Ronaldo  93
3  19533         Neymar             90
4  27299         Manuel Neuer       90
5  40636         Luis Suarez        90
6  30834         Arjen Robben       89
7  35724         Zlatan Ibrahimovic 89
8  30955         Andres Iniesta     88
9  36378         Mesut Oezil        88
10 37412         Sergio Aguero      88

In [4]:
# Which are the top 10 goalkeepers by sum of gk attributes?
playerDF %>% arrange(desc(gk_rating)) %>% 
            slice(1:10) %>% 
            select(player_api_id,player_name,gk_rating)

   player_api_id player_name       gk_rating
1   27299        Manuel Neuer      355
2  182917        David De Gea      341
3   30726        Edwin van der Sar 340
4   27341        Robert Enke,30    339
5   37421        Claudio Bravo     333
6   30859        Petr Cech         331
7  215168        Bernd Leno        331
8  170323        Thibaut Courtois  330
9   31432        Joe Hart          328
10  30660        Pepe Reina        327

In [5]:
# Which are the top 10 players by number of appearances (with any team they played with)?
playerDF %>% arrange(desc(num_appearences)) %>% 
            slice(1:10) %>% 
            select(player_api_id,player_name,num_appearences)

   player_api_id player_name          num_appearences
1  31293         Steve Mandanda       300
2  41097         Stephane Ruffier     294
3  33764         Gorka Iraizoz Moreno 286
4  42422         Samir Handanovic     286
5  26295         Hugo Lloris          282
6  31465         Tim Howard           282
7  31432         Joe Hart             275
8  26168         Cedric Carrasso      268
9  26399         Daniel Congre        262
10 94550         Moussa Sissoko       260

In [6]:
# Which are the top 10 players by number of leagues they played in?
playerDF %>% arrange(desc(num_leagues)) %>% 
            slice(1:10) %>%
            select(player_api_id,player_name,num_leagues)

   player_api_id player_name           num_leagues
1   42119        Gelson Fernandes      6
2  116750        Ricky van Wolfswinkel 5
3  178538        Filip Djuricic        5
4   22543        Radamel Falcao        4
5   24123        Jonathan De Guzman    4
6   25816        Almen Abdi            4
7   26434        Ibrahim Afellay       4
8   26489        Edson Braafheid       4
9   26675        Eljero Elia           4
10  30477        Danijel Pranjic       4

In [7]:
# Which are the top 10 teams by sum of build up play attributes?
teamDF %>% arrange(desc(buildUpPlay)) %>% 
            slice(1:10) %>%
            select(team_api_id,team_long_name,buildUpPlay)

   team_api_id team_long_name             buildUpPlay
1    8024      Widzew Łódź                190
2    8244      Widzew Łódź                190
3  208931      Carpi                      190
4    8033      Podbeskidzie Bielsko-Biała 189
5    9830      FC Nantes                  189
6    8543      Lazio                      188
7    8533      Chievo Verona              187
8    8600      Udinese                    185
9    8655      Blackburn Rovers           185
10  10233      Genoa                      184

In [8]:
# Which are the top 10 teams by sum of chance creation attributes?
teamDF %>% arrange(desc(chanceCreation)) %>% 
            slice(1:10) %>%
            select(team_api_id,team_long_name,chanceCreation)

   team_api_id team_long_name         chanceCreation
1  8543        Lazio                  220
2  8658        Birmingham City        203
3  8596        Falkirk                200
4  8429        Hamilton Academical FC 197
5  2182        Lech Poznań            196
6  8529        Cagliari               196
7  9885        Juventus               195
8  8178        Bayer 04 Leverkusen    192
9  8697        SV Werder Bremen       192
10 8686        Roma                   191

In [9]:
# Which are the top 10 teams by sum of defense attributes?
teamDF %>% arrange(desc(defence)) %>% 
            slice(1:10) %>%
            select(team_api_id,team_long_name,defence)

   team_api_id team_long_name      defence
1  8242        Odra Wodzisław      205
2  9999        KSV Roeselare       205
3  8596        Falkirk             200
4  8634        FC Barcelona        191
5  8543        Lazio               190
6  8529        Cagliari            187
7  9823        FC Bayern Munich    184
8  8178        Bayer 04 Leverkusen 183
9  8191        Burnley             183
10 8697        SV Werder Bremen    183

In [10]:
# Which are the top 10 teams by number of fielded players 
# (i.e. number of players the team has sent to the field across all matches)?
teamDF %>% arrange(desc(num_fielded_players)) %>% 
            slice(1:10) %>%
            select(team_api_id,team_long_name,num_fielded_players)

   team_api_id team_long_name       num_fielded_players
1  10233       Genoa                138
2  10238       Vitória Setúbal      122
3  10264       SC Braga             121
4   8597       Kilmarnock           115
5   9985       Standard de Liège    114
6   9857       Bologna              113
7   7844       Vitória Guimarães    109
8   9882       Sampdoria            108
9  10215       Académica de Coimbra 108
10  8540       Palermo              106